<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.iastate.cs.proj_309_vc_1.lockout2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USAGE_STATS" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">
        // main activity entrance in manifest
        <activity
            android:name=".OnBoardingActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //login activity in manifest with app theme applied as well as auto keyboard on disabled
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden" />
        //signup activity in manifest with app theme applied as well as auto keyboard on disabled
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ForgotActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LockoutActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <service
            android:name=".AppLockerService"
            android:exported="false" />

        <activity
            android:name=".FriendsActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".ItemActivity"
            android:theme="@style/AppTheme.Dark" />

        <activity
            android:name=".GlobalAdminActivity" />

        <activity
            android:name=".GroupAdminActivity" />

        <receiver android:name=".AlarmReceiver" />
        <receiver
            android:name=".AlarmBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LockedActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".LockerActivity" />
    </application>

</manifest>